@import "../../_utils/variables";

.homePage {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: white;
}
.contain_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    // background-color: blue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    .hero_left {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        // background-color: red;


        .inside_hero_left {

            width: 80%;
            height: 80%;
            // background-color: rgb(128, 85, 85);
            padding-left: 20px;
            padding-top: 10px;

            h1 {
                font-family: $fontHeroText2;
                font-size: 3rem;
                color: $cloud;
                text-transform: capitalize;
                // letter-spacing: 0.1rem;
                margin-bottom: 1.1rem;
                // font-weight: 10000;

                span {

                    background: rgb(9, 54, 164);
                    background: linear-gradient(90deg, rgba(9, 54, 164, 1) 45%, rgba(0, 212, 255, 1) 100%);
                    padding: 0 0.5rem;

                }

            }

            p {
                font-size: 1rem;
                color: white;
                text-transform: capitalize;
                letter-spacing: 0.1rem;
                margin-bottom: 1.1rem;
                font-family: $fontHeroText2;
            }

            .explore_btn{

                padding: 1rem 2.5rem;
                cursor: pointer;
                margin-bottom: 2rem;


            }
            .contain_stat{

                height: 150px;
                width: 90%;
                background-color: rgba(192, 177, 177, 0.186);
                display: flex;
                justify-content: space-around;
                align-items:center;

                div{

                    h1{
                        line-height: 1rem;
                        font-size: 2rem;
                        font-family: $fontHeroText2;
                        color: $cloud;
                        text-transform: capitalize;
                        letter-spacing: 0.1rem;
                        // margin-bottom: 1.1rem;
                        

                    }
                    span{
                        font-size: 1rem;
                        font-family: $fontHeroText2;


                    }


                }

            }

        }


    }

    .hero_right {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90%;
        // background-color: green;
        position: relative;

        .contain_img{
            width: 500px;
            height: 500px;
            position: absolute;

            // background-color: red;

            img{
                width:200px;
                height: 200px;

            }

            &:nth-child(4){

                z-index: 10;

                width:150px;
                height: 200px;
                background-color: red;
                top: -20px;
                right: 12%;
                img{

                    width: 100%;
                    height: 100%;
                    background-position: center;

                }
            }
            &:nth-child(2){

                z-index: 10;

                width:250px;
                height: 300px;
                // background-color: red;
                top: -20px;
                left: 0%;
                img{

                    width: 100%;
                    height: 100%;
                    background-position: center;

                }
            }

            &:nth-child(3){

                width: 200px;
                height: 300px;
                bottom: 5%;
                left: 0;

                // background-color: blue;
                img{

                    width: 100%;
                    height: 100%;

                }

            }

            &:nth-child(1){

                width: 700px;
                height: 600px;

                // background-color: blue;
                img{

                    width: 100%;
                    height: 100%;

                }

            }


        }


    }

}